.code {
    margin: 5px;
    background-color: white;
    position: relative;
    z-index: 0;
}

.code2 {
    margin: 5px;
    background-color: white;
    padding: 4px;
    z-index: 0;
}

.codet {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: black;
    color: white;
    font-family: 'Open Sans', Myriad, Calibri, sans-serif;
    border-radius: 8px;
}

.code:hover .codet{
    visibility: visible;
    
}