body{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 52%, rgba(0,212,255,1) 100%);
}

.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.top-s {
    height: 100%;
    width: 50%;
    transition: 2s;
    background-color: #C6EAFA;
}

#top {
    display: flex;
    justify-content: center;
    padding: .5rem 0 .5rem 0;
    border-radius: 8px;
}

.me {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    margin-bottom: .5rem;
}

.wrapper {
    width: 80vw;
}

.code {
    margin: .2rem;
    background-color: transparent;
    position: relative;
    z-index: 0;
    height: 8rem;
    width: 8rem;
}

.code2 {
    margin: .2rem;
    background-color: transparent;
    z-index: 0;
    height: 8rem;
    width: 8rem;
}

.code3 {
    margin: .2rem;
    background-color: transparent;
    z-index: 0;
    height: 8rem;
    width: 10rem;
}
.code4{
    margin: .2rem;
    background-color: transparent;
    z-index: 0;
    height: 6rem;
    width: 12rem;
}
.display>img {
    display: flex;
    align-items: center;
}

.content{
    width: 80vw;
}

.a {
    display: flex;
    justify-content: center;

}

.a:hover {
    filter: drop-shadow(2px 4px 6px black);
}

img {
    margin: 1rem;
    border-radius: .5rem;
}


.p {
    text-align: center;
    font-weight: 900;
}

.links {
    display: flex;
    flex-direction: row;
}

.a2 {
    margin: .5rem;
}

.a3:hover {
    text-decoration: underline;
}
.a2:hover{
    text-decoration: underline;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    width: 50%;
}

.desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
}

#code{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.h3 {
    color: white;
    margin-bottom: .5rem;
}

.calendly {
    color: white;
    margin-bottom: .5rem;
}

.calendly:hover{
    cursor: pointer;
    text-decoration: underline;
}
li {
    text-decoration: none;
}

.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.display {
    display: flex;
    flex-wrap: wrap;
}

.p2 {
    width: 30%;
    padding: 2rem;
    font-weight: 900;
}

.button {
    display: flex;
    width: 6rem;
    background-color: #5198DF;
    align-self: center;
    border-radius: .25rem ;
    margin-bottom: 1rem;
    border:5px solid transparent;
}

.a4 {
    color: white;
    filter: none;
    font-size: .75rem;
    font-weight: 100;
}

strong {
    color: white;
    font-size: 1rem;
}

#button{
    display: flex;
    align-self: center;
}

.top-button:hover{
    filter: drop-shadow(2px 4px 6px black)
}



.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav{
    margin-right: 1rem;
    height: 2rem;
    background-color: #5198DF;
    border-radius: .5rem;
    border: transparent;
    color: white;
    font-weight: 900;
}

.nav-s{
    height:2.5rem;
    font-size: 1rem;
}

.nav:hover{
    height: 2.1rem;
    background-color: rgba(9,9,121,1);
    cursor: pointer;
}

.nav-s:hover{
    height: 2.5rem;
}

.a5 {
    color: white;
    filter: none;
    font-size: .75rem;
    font-weight: 900;
}

.center{
    text-align: center;
}